{
    "parser": "babel-eslint",
    "extends": [
        "standard",
        "standard-react"
    ],
    "env": {
        "es6": true
    },
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "indent": [
            1,
            4
        ],
        "jsx-quotes": ["error", "prefer-double"],
        // don't force es6 functions to include space before paren
        "space-before-function-paren": 0,
        // allow specifying true explicitly for boolean props
        "react-hooks/exhaustive-deps": 0,
        "react/jsx-boolean-value": 0,
        "react/jsx-indent": [1, 4],
        "react/jsx-tag-spacing": 0
    }
}
